p{
    line-height: 1.5;
}
.page1{
    position: relative;
    /* display: inline-block; */
    height: 110vh;
    width: 100vw;
    background-image: url(./Images/bg-01.jpg);
    background-size: 100% 100%;
}
.page1>.title{
    position: absolute;
    top: 5%;
    left: 45%;
    font-size:xx-large;
    border: 1px solid;
    padding: 12px 20px;
}

.page1child{
    display: inline-block;
    padding: 25px;
    position: absolute;
    background-color: white;
    top: 20%;
    left: 25%;
    height: 350px;
    width: 350px;
}
.page1child h1{
    color: lightgreen;
}
@media screen and (max-width:600px){
    .title{
        justify-content: center;
    }
    .page1{
        height: 210vh;
    }
    .page1child{
        /* float: left; */
        margin-right: 35%;
        /* padding-left: 0%; */
        margin-left: 0%;
        height: auto;
        width: auto;
    }
}
button{
    font-size: larger;
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: maroon;
    float: right;
}
.page2{
    position: relative;
    /* display: inline-block; */
    height: 110vh;
    width: 100vw;
    background-size: 100% 100%;
    background-image: url(./Images/bg-02.jpg);
}
.page2child{
    /* background-color: aqua; */
    padding: 100px 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    /* opacity: 0.6; */
    /* /background-color: red; */
    right: 18%;
    height: 100vh;
    width: 450px;
}
.page2child h1{
    color: rgb(27, 175, 212);
    font-size: 2.2em;
}
.page2grid{
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.page2grid span{
    font-size: 60px;
    justify-self:center;
    align-self:center;
    background-color: rgba(255, 255, 255,0);
    
}
@media screen and (max-width:600px){
    .page2{
        height: 210vh;
    }
    .page2child{
        width: auto;
        height: auto;
        margin-left: 20%;
    }

}
.page4{
    position: relative;
    display: inline-block;
    height: 110vh;
    width: 100vw;
    background-size: 100% 100%;
    background-image: url(./Images/bg-04.jpg);
}
.page4child{
    /* background-color: aqua; */
    display: inline-block;
    padding: 100px 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6); 
    /* opacity: 0.8; */
    left: 18%;
    height: 100vh;
    width: 450px;
}
.page4child h1{
    color: red;
    font-size: 2.2em;
}

.page4child .page4flex{
    display: flex;
    /* width: 100px; */
    flex-direction: column;
    gap: 10px;
}
.page4flex input{
    border: 1px solid;
    padding: 10px;
}
.page4flex textarea{
    border: 1px solid;
    padding: 10px;
}
.page4child button{
    margin-top: 15px;
}
@media screen and (max-width:600px){
    .page4{
        height: 200vh;
    }
    .page4child{
        height: auto;
        width: auto;
        margin-right: 50%;
    }
}


.page3{
    position: relative;
    /* display: inline-block; */
    height: 110vh;
    width: 100vw;
    background-size: 100% 100%;
    background-image: url(./Images/bg-03.jpg);
}
.page3flex{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 15px;
    top: 12%;
    left: 25%;
}
.page3flex h1{
    color: rgb(75, 73, 73);
}

.titles{
    display: flex;
    gap: 10px;
}
span{
    background-color: white;
    color: rgb(75, 73, 73);
    padding: 5px 10px;
}
.firstspan{
    background-color: rgb(75, 73, 73);
    color: white;
    padding: 5px 10px;
}
.pics{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
img{
  height: 120px;
  width: 200px;
}
@media screen and (max-width:600px){
    .pics{
        /* display: grid; */
        grid-template-columns: repeat(1,1fr);
        /* gap: 10px; */
    }
    .titles{
        flex-direction: column;
        gap: 10px;
        width: 100px;
    }

    .page3{
        height: 300vh;
        
    }
    
}
@media screen and (min-width:600px) and (max-width:1020px){
    .pics{
        grid-template-columns: repeat(2,1fr);
    }
    .page3{
        height: 200vh;
        
    }

}